################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/DrawingWaveformControl/DrawingSamepleCode
/DrawingWaveformControl/.vs
/DrawingWaveformControl/WaveformView/obj/Debug
/DrawingWaveformControl/WaveformViewDemo/bin/Debug
/DrawingWaveformControl/WaveformViewDemo/obj/Debug
/DrawingWaveformControl/WaveformView/bin/Debug
